{% extends 'index.html' %}

<hr>

{% block title %} {% endblock %}

{% block body %}


<div class="container">

    <h1>
        <div class="col-md-offset-1 col-lg-8 mx-auto">
            <small style="font-size: 60px;"><center>Forgot Password</center></small>
        </div>
    </h1>
</div>




<div id='forgotten-password' class="container">
    <div class="row">

        <div id='password-row' class="col-md-offset-1 col-lg-9 mx-auto">
            <br>
            <p id='item-info' class="text-muted">Enter your email address and we will send you a password reset link</p>
            <hr>
            <br>
            <div class="forgotten-password">


                {% if error %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
                {% endif %}

                {% if msg %}
                <div class="alert alert-success" role="alert">{{ msg }}</div>
                {% endif %}

                {% from "__formhelpers.html" import render_field %}
                <form method="POST" action="{{ url_for('password_app.forgot')}}" role="form">

                    {{ form.hidden_tag() }}

                    <div class="forgotten-password">

                    </div>
                    {{ render_field(form.email, id='forgotten-email', class='form-control') }}

                    <button id='reset-button' type="submit" class="btn btn-primary">Reset password</button>

                </form>
            </div>

        </div>
    </div>
</div>
{% endblock %}