{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block body %}


<div class>
    <div>
        <h1>
            <div>
            <small style="font-size: 50px;">New Password Form</small>
                <p id='item-info' class="text-muted">Enter your new password</p>
            </div>
        </h1>
    </div>
</div>



<div id='forgotten-password' class="container">
    <div class="row">

        <div id='password-row' class="col-md-offset-6 col-lg-5 mx-auto">

        <hr>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}

        {% if msg %}
            <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% endif %}

        {% from "__formhelpers.html" import render_field %}
            <form method="POST" action="{{ url_for('password_app.change_password')}}" role="form">

                {{ form.hidden_tag() }}

                {{ render_field(form.current_password, class='form-control', id='password') }}
                {{ render_field(form.password, class='form-control') }}
                {{ render_field(form.confirm, class='form-control') }}

                <button type="submit" class="btn btn-primary">change password</button>

            </form>

    </div>
<hr>
</div>
</div>
{% endblock %}