{% extends "base.html" %}


{% block title %} Password Changed Successful {% endblock %}


{% block body %}


<div>
    <div>
        <h1>
            <div id="password-header">
                <small style="font-size: 45px;">Password Successful Changed
                </small>
            </div>
            <p class="lead text-muted">You have successful changed your password. Login
                using your password. Click <a href="{{ url_for('login_app.login') }}">login</a> to login.
            </p>
        </h1>
    </div>


</div>


{% endblock %}