{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block body %}

<hr>

<div id='forgotten-password' class="container">
    <div class="row">

        <div id='password-row' class="col-md-offset-3 col-md-6">

            <br>
        <h1>New password</h1>
        <br>
            <p>Enter your new password details</p>
        <br>
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}

        {% if msg %}
            <div class="alert alert-success" role="alert">{{ msg }}</div>
        {% endif %}

        {% from "__formhelpers.html" import render_field %}
            <form method="POST" action="{{ url_for('password_app.password_reset', username=username, code=code)}}" role="form">

                {{ form.hidden_tag() }}

                {{ render_field(form.password, class='form-control') }}
                {{ render_field(form.confirm, class='form-control') }}

                <button type="submit" class="btn btn-primary">change password</button>

            </form>

    </div>
<hr>
</div>
</div>

{% endblock %}